page-login {
    .title {
        text-align: center;
        font-weight: 500;
    }
    
    .subtitle {
        text-align: center;
    }
    .btn-container {
        margin-top: 20px;
    }
    .lbl {
        margin-left: -20px;
    }
}
