page-report {
    .kotak {
        text-align: center;
        -webkit-box-shadow: -2px 7px 12px -10px rgba(0, 0, 0, 0.31);
        -moz-box-shadow: -2px 7px 12px -10px rgba(0, 0, 0, 0.31);
        box-shadow: -2px 7px 12px -10px rgba(0, 0, 0, 0.31);
        border-radius: 20px;
        width: 100%;
        padding: 10px;
        color: grey;
        
    }
    
    .pad {
        margin-top: 20px;
    }
}
