<ion-header>
    <ion-navbar color="robin" style="padding:0px;">
        <ion-toolbar>
  
            <ion-title center>
                DETAIL SCHEDULE
            </ion-title>
  
        </ion-toolbar>
    </ion-navbar>
  </ion-header>

<ion-content padding>
  <ion-item>
    <ion-label stacked>Customer</ion-label>
    <ion-select [(ngModel)]="datas.customer" multiple="false" cancelText="Cancel" okText="Okay!">
      <ion-option *ngFor="let item of items" [value] = "item.id" [selected]="item.id == datas.id">{{ item.name }}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Start Date</ion-label>
    <ion-datetime displayFormat="YYYY-MM-DD HH:mm:ss" [(ngModel)]="datas.start"></ion-datetime>
  </ion-item>
  
  <ion-item>
    <ion-label>End Date</ion-label>
    <ion-datetime displayFormat="YYYY-MM-DD HH:mm:ss" [(ngModel)]="datas.end"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label stacked>Description</ion-label> 
    <ion-textarea #myInput id="myInput" rows="1" maxLength="500" (keyup)="resize()" [(ngModel)]="datas.description"></ion-textarea>  
  </ion-item>

  
  <div>
    <button ion-button full color="robin" (click)="done()">Submit</button>
    <button *ngIf="data != ''" ion-button full color="robin" outline (click)="del()">Delete</button>
  </div>
</ion-content>
